/* front page css */

/* font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */


body {
    background-image: url("../images/concert3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(200,100,0,.5);
    background-blend-mode: multiply;
}

.front {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

#front-title,
#front-form {
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    text-align: center;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 70px;
    font-weight: strong;
}


